// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
				"farve": $cyan-400,
				"primary": #59554C,
				"button": #798C8C,
				"boxColor": #AEBFBE,
				"link": #000000,

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Mooli', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;

}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.btn-submit:hover{
	transform: scale(1.1);
	transition: transform 0.3s ease;

}

.messageContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.messageBox {
	border-radius: 5px;
}

.outMessageBox{
	border-radius: 5px;
}

.borderBox{
	border: solid white 3px;

}




